*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
  
  
}
header{
    padding:25px 0px;
     text-decoration: none; 
     text-align: center;
     justify-content: center;
}
nav{
    width: 100%; 
    padding: 0 80px;
/*   
    border: 1px solid red; */
     align-items: center;
     justify-content: space-between;
     display: flex;
   
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
 .button button{
    background-color: #4EA070;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16x;
    font-weight: 400;
 
}
.menu li a{
    text-decoration: none;
    font-size: 16x;
    color: black;
    font-weight: 400;
}
.button button:hover{
    color: black;
}
.menu li a:hover{
    color: #4EA070;
}
.hero{
  width: 100%;
  height: 90svh;
  background: url("../assets/hero-bg.png") center/cover no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-content {
  max-width: 800px;
  padding: 0 20px;
}

.badge {
 
  background: white;
  color: #4EA070;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 24px;
}
.hero h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #4EA070;
}
.hero p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 36px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  

}

.btn1{
  background-color: #4EA070;
  color: white;
  border: none;
  padding: 14px 22px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.btn2 {
  background: transparent;
  color: white;
  border: 1px solid rgba(156, 148, 148, 0.6);
  padding: 14px 22px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.btn1:hover {
  background-color: #3f8a5f;
}

.btn2:hover {
  background-color: rgba(190, 184, 184, 0.1);
}



