*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
  
  
}
header{
    padding:25px 0px;
     text-decoration: none; 
     text-align: center;
     justify-content: center;
}
nav{
    width: 100%; 
    padding: 0 80px;
/*   
    border: 1px solid red; */
     align-items: center;
     justify-content: space-between;
     display: flex;
   
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
 .button button{
    background-color: #4EA070;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16x;
    font-weight: 400;
 
}
.menu li a{
    text-decoration: none;
    font-size: 16x;
    color: black;
    font-weight: 400;
}
.button button:hover{
    color: black;
}
.menu li a:hover{
    color: #4EA070;
}
